html,
body {
	display:block;
	width:100%;
	height:100%;
	margin:0;
	}

#map {
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	margin:0;
	}

path {
	shape-rendering:geometricPrecision;
	stroke-width:1;
	}

.land {
	fill:blue;
	fill-opacity:0.05;
	stroke:blue;
	}

.countries {
	fill:red;
	stroke:#fff;
	}

.countries_02 {
	fill:black;
	fill-opacity:0;
	stroke:black;
	}